<app-pet-header></app-pet-header>
<div class="medical-history-container">
  <div class="left-column">
    <div class="pet-info">
      <img class="pet-image" [src]="pet?.image" alt="{{ pet?.name }}">
      <div class="pet-details">
        <h2>{{ pet?.name }}</h2>
        <p>{{ pet?.species }} - {{ pet?.breed }}</p>
        <p>Age: {{ pet?.age }} years</p>
        <p>Sex: {{ pet?.sex }}</p>
        <div class="emergency-contacts">
          <p><b>Emergency Contacts:</b></p>
          <p>{{ contact }}</p>
          <p>Vet: +51 992756999</p>
        </div>
      </div>
    </div>
    <div class="notifications mat-elevation-z4">
      <h3 class="title">Programmed Notifications</h3>
      <mat-divider></mat-divider>
      <div *ngFor="let reminder of reminders; let i = index" class="reminder mat-elevation-z2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>RECORDATORIO: {{ reminder.name }}</mat-card-title>
            <button mat-icon-button color="warn" (click)="deleteReminder(reminder.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>
            <p>PROXIMA FECHA: {{ reminder.nextDate }}</p>
            <p>HORA: {{ reminder.time }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" (click)="addReminder()">Add Reminder</button>
    </div>
  </div>
</div>
