<div class="background">
  <header class="header">
    <img src="logo.png" class="logo" />
    <nav class="nav">
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">Emergency Vet</a>
      <a href="#" class="nav-link">Sign In</a>
    </nav>
  </header>
  <div class="register-container">
    <div class="register-form">
      <h1>Join Us!</h1>
      <div class="role-selection">
        <input type="radio" id="vet" name="role" value="vet" />
        <label for="vet">I'm a vet</label>
        <input type="radio" id="owner" name="role" value="owner" />
        <label for="owner">I'm an Owner</label>
      </div>
      <input type="text" placeholder="First name" />
      <input type="text" placeholder="Last name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Verify password" />
      <input type="text" placeholder="Phone number" />
      <button>Create Account</button>
      <a href="/login" class="login-link">I already have an account</a>
    </div>
  </div>
  <footer class="footer">
    <div class="subscribe">
      <label for="email">Subscribe to our newsletter</label>
      <input type="text" id="email" placeholder="Email Address" />
      <button class="submit-button">Submit</button>
    </div>
    <div class="contact">
      <p>Contact us:</p>
      <p>facebook.com/petcommunity</p>
      <p>+51 976 381 377</p>
      <p>support&#64;petcommunity.com</p>
    </div>
  </footer>
</div>
