.profile-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.header {
  position: relative;
  margin-top: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  margin: 0;
}

.title {
  margin: 5px 0;
  color: gray;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

.stars {
  display: flex;
  gap: 5px;
}

.mat-icon {
  font-size: 24px;
  color: #1e90ff; /* Color for filled stars */
}

.ratings p {
  margin: 0;
  font-size: 14px;
  color: blue;
}

.logout-btn {
  position: absolute;
  right: 0;
  top: 10px;
  border: none;
  background: transparent;
  color: blue;
  cursor: pointer;
}

.communities {
  margin: 30px 0;
  text-align: left;
}

.community-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.community-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.community-card img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.community-card p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.add-community {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px dashed #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: gray;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.add-community:hover, .community-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.gallery-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-box {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.pending {
  color: red;
}

.pets-title {
  font-weight: bold;
  text-align: left;
}

.pet-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border: none;
  padding: 20px;
  border-radius: 10px;
  margin: 25px;
}
.add-pet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border: none;
  padding: 20px;
  border-radius: 10px;
  height: 220px;
  width: 200px;
  margin: 30px;
}

.pet-profiles-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.pets-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  border-top: 2px solid #e5e5e5
}
.pets-container > div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.pet-profile app-profilesummary img {
  position: relative;
  margin-top: -50%;
}

.new-pet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.new-pet-button:hover {
  background-color: #5b5b5b;
}

.enter-profile-button {
  background-color: #EFC926;/* Hace que el botón sea amarillo */
  border: none;
  color: black; /* Hace que el texto del botón sea negro */
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

