<div class="community-home" *ngIf="community">
    


    <div class="community-home" *ngIf="community">
        <div class="community-header">
            <div class="header-info">
                <h1>{{ community.name }}</h1>
                <p>{{ community.description }}</p>
                <div class="follow-button">
                    <button (click)="followCommunity()">Seguir</button>
                    <span *ngIf="community.countMembers === 1">1 seguidor</span>
                    <span *ngIf="community.countMembers !== 1">{{ community.countMembers }} seguidores</span>
                </div>
            </div>
        </div>
    
        <button (click)="addCommunity()">Add Community</button>
    </div>
    
</div>
