<div class="background">
  <img src="Fondo.png" class="background" />
  <header class="header">
    <img src="logo.png" class="logo" />
    <nav class="nav">
      <a routerLink="/login" class="nav-link">Home</a>
      <a routerLink="/emergency-vet" class="nav-link">Emergency Vet</a>
      <a routerLink="/login" class="nav-link">Sign In</a>
    </nav>

  </header>
  <div class="login-container">
    <div class="login-form">
      <h1>WELCOME BACK!</h1>
      <div class="role-selection">
        <input type="radio" id="vet" name="role" value="vet" />
        <label for="vet">I'm a vet</label>
        <input type="radio" id="owner" name="role" value="owner" />
        <label for="owner">I'm an Owner</label>
      </div>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button>Sign in</button>
      <a href="#" class="forgot-password">Forgot password</a>
      <!-- Modificación del botón Sign Up -->
      <button routerLink="/register" class="signup-button">Sign up</button>
    </div>
  </div>
  <footer class="footer">
    <div class="subscribe">
      <label for="email">Subscribe to our newsletter</label>
      <input type="text" id="email" placeholder="Email Address" />
      <button class="submit-button">Submit</button>
    </div>
    <div class="contact">
      <p>Contact us:</p>
      <p>facebook.com/petcommunity</p>
      <p>+51 976 381 377</p>
      <p>support&#64;petcommunity.com</p>
    </div>
  </footer>
</div>
